.navBar{
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 1em;
}

.navBar li {
    padding: .5em 2em .5em 2em;
    font-weight: 600;
    cursor: pointer;
    transform: skew(0deg);
}
  
.navBar a{
    color: black;
    text-decoration: none;
}
  
.navBar li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.034);
    opacity: 0;
    z-index: -1;
    border-radius: 1em 1em 1em;
    transition: all .2s;
}
  
.navBar li:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.navBar li:hover a{
    color: #a18bf3;
}

@media only screen and (max-width: 479px) {
    .navBar ul {
        width: 80%;
    }

    .navBar ul{
        margin: .5em;
    }
}

